@use "typography" as *;

.feeEntry {
  display: flex;
  gap: 5px;
}

.feeEntryEmphasize {
  span {
    font-weight: bold;
  }
}

.invoices {
  max-height: 16rem;
  overflow-y: auto;
}

.invoice {
  position: relative;
}

.favoriteWrapper {
  position: absolute;
  top: -35%;
  right: 0%;
}

.paymentDetails,
.customerDetails {
  font-size: $paragraphSmall;
}

.paymentDetails {
  &__amount {
    border: 2px dashed var(--info);
    padding: 2px;
    border-radius: var(--border-radius);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.paymentDetailsMobile {
  position: relative;
  text-align: center;
  color: white;
  &__payments {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &__entry {
    display: flex;
    background-color: var(--dark-soft);
    padding: 1rem;
    border-radius: var(--border-radius);
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }
  }
  &__chevron {
    position: absolute;
    right: 0rem;
    bottom: -3.4rem;
  }
}

.buttons {
  display: flex;
  gap: 10px;
}
